<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProjetGroupe5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <add name="CS" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\DELL\Documents\Visual Studio 2015\Projects\FaceID Manage Library\DAL\FaceIDdb.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <userSettings>
    <ProjetGroupe5.Properties.Settings>
      <setting name="Cle" serializeAs="String">
        <value/>
      </setting>
      <setting name="Creation" serializeAs="String">
        <value/>
      </setting>
      <setting name="jours_Restant" serializeAs="String">
        <value/>
      </setting>
      <setting name="Cle_de_Cryptage" serializeAs="String">
        <value/>
      </setting>
      <setting name="Expiration" serializeAs="String">
        <value/>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value/>
      </setting>
    </ProjetGroupe5.Properties.Settings>
  </userSettings>
</configuration>
